# Sections
snippet ! "section" bA
\section{$1}
$0
endsnippet

snippet !! "subsection" bA
\subsection{$1}
$0
endsnippet

snippet !!! "subsubsection" bA
\subsubsection{$1}
$0
endsnippet

snippet !!!! "paragraph" bA
\paragraph{$1}
$0
endsnippet

snippet !!!!! "subparagraph" bA
\subparagraph{$1}
$0
endsnippet
